*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: #0F1111;
    color: white;
    height: 60px;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 150px;
}

.logo{
    height: 50px;
    width: 150px;
    background-image: url("images/whitelogo.png");
    background-size: cover;
    background-position: center;
    background-color: #0F1111;
}
.border{
    border:1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
#search:hover{
    border:2px solid orange;
}

.a1{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.a2{
    font-size: 1rem;
    font-weight: 700;
}
#icon{
    display: flex;
    align-items: center;
}
#search{
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.searchicon{
    display: flex;
    background-color: orange;
    width:40px;
    align-items: center;
    justify-content: center;
}
/*option{}*/
input{
    font-size: 1rem;
    width:530px;
    border:none;
}
button{
    background-color: orange;
    border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
    font-size: 1.3rem;
}
#s1{
    background-color: #F3F3F3;
    width:50px;
    text-align: center;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.hello{
    font-size: 0.85rem;
}
.hello2{
    background-color: #0F1111;
}
#s2{
    background-color: #0F1111;
    color: #f3f3f3;
    border: none;
      font-size: 1rem;
    font-weight: 700;
}
option{
    width: 50px;
    border: none;
}
.order{
    font-size:0.85rem
}
.order2{
    font-size: 1 rem;
        font-weight: 700;
}
.cart i{
    font-size: 30px;
    font-weight: 700;
}
.cart{
    font-size: 0.85rem;
}
.panel{
    background-color:#222f3d;
    color: white;
    display:flex;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}
.all i{
    font-size: 25px;
}
.all{
    font-weight: 400;
    font-size: 20px;
}
.ops p{
    display: inline;
    margin-left:13px;
}
.ops{
width: 70%;
font-size: 0.85rem;
margin-left: 10px;
}
.deals{
    font-size: 0.9rem;
    font-weight:700;
}
.hero{
     height: 350px;
    background-image:url(/images/amazon1.jpg);
    background-size: cover;
    font-size: 0.85rem;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.msg{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 92%;
    margin-bottom: 30px;
}
.shop{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e2e7e6;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.box{
    height: 400px;
    width: 23%;
    border: 2px solid black;
    background-color: white;
}
.boximg{
    background-image: url(/images/item1.jpg);
    height: 300px;
    background-size:cover;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color:#007185;
}
.boximg1{
    background-image: url(/images/item2.jpg);
    height: 300px;
    background-size:cover ;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boximg2{
    background-image: url(/images/item3.jpg);
    height: 300px;
    background-size:cover ;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boximg3{
    background-image: url(/images/item4.jpg);
    height: 300px;
    background-size:cover ;
    background-position: center; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boximg5{
    background-image: url(/images/item5.jpg);
    height: 300px;
    background-size:cover ;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boximg6{
    background-image: url(/images/item6.jpg);
    height: 300px;
    background-size:cover ;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boximg7{
    background-image: url(/images/item7.jpg);
    height: 300px;
    background-size:cover ;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boximg8{
    background-image: url(/images/item8.jpg);
    height: 300px;
    background-size:cover ;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.shop2{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e2e7e6;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.backtotop{
    display: flex;
    justify-content: center;
    align-items:center;
    color: #e2e7e6;
    height: 50px;
    background-color: #485769;
    text-align: center;
    font-weight: 700;
}
.lists{
    color: #CCCCCC;
    background-color: #232F3E;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.mainh{
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 1.25rem;
    color: white;
}
.mainh a{
    color: #dddddd;
    font-size: 0.85rem;
}
ul li{
    list-style: none;
}
.end{
    background-color:#0F1111 ;
    height: 70px;
    border-top: 0.5px solid white;
    display:flex ;
    justify-content: center;
    align-items: center;
}
